/*
 *= require_self

 */
@import 'bourbon';
@import "neat";

body {
  @include background-image(image-url("cloud.png"));
  background-position: center;
  background-size: cover;
}

 .welcome {
   text-align: center;
   color: black;
   font-size: 32;
   background: none;
 }

.input {
  position: center;
}
