.welcome Welcome to Weather!
p.input Please input a valid zipcode for a weather report:
= form_tag('/', method: :get) do
  = text_field_tag :id
  = submit_tag "Submit"


/ h5 When someone calls a zipcode it should be saved to the database to reference later
/ h5 should save a list of all zipcodes that have been created 
/ h5 have a url that has url/reports/create(new?) and then save that 
/ 
/ reports.all link_to report which would give you the show of that report 
